---
repos:

#===========================================================================
#                            PYTHON FORMAT HOOK
#===========================================================================
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.2
  hooks:
  - id: ruff-format
  - id: ruff-check
    args: [--fix]

#===========================================================================
#                            PYTHON LINT HOOK
#===========================================================================
- repo: https://github.com/PyCQA/pylint
  rev: v4.0.4
  hooks:
  - id: pylint
    args:
    - --rcfile=python/.pylintrc
    files: ^(examples|python/src/alayalite|python/tests)/.*\.py$


#===========================================================================
#                            YAML FORMAT HOOK
#===========================================================================
- repo: https://github.com/jumanjihouse/pre-commit-hook-yamlfmt
  rev: 0.2.1
  hooks:
  - id: yamlfmt
    args: [--mapping, '2', --sequence, '2', --offset, '0', --colons, --width, '120']


#===========================================================================
#                            CODE QUALITY PRE_COMMIT HOOK
#===========================================================================
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: trailing-whitespace
    exclude: \.(yaml|yml)$
  - id: end-of-file-fixer
    exclude: \.(yaml|yml)$
  - id: check-added-large-files
    args: [--maxkb=1000]
  - id: check-merge-conflict
  - id: check-yaml


#===========================================================================
#                            SECRET CHECK HOOK
#===========================================================================
- repo: https://github.com/Yelp/detect-secrets
  rev: v1.5.0
  hooks:
  - id: detect-secrets

#===========================================================================
#                            COMMIT MSG CHECK HOOK
#===========================================================================
- repo: https://github.com/compilerla/conventional-pre-commit
  rev: v4.2.0
  hooks:
  - id: conventional-pre-commit
    stages: [commit-msg]
    args: [--strict, feat, fix, docs, style, refactor, chore, perf, test, build, ci, revert]

#===========================================================================
#                            TYPOS CHECK
#===========================================================================
- repo: https://github.com/crate-ci/typos
  rev: v1.36.1
  hooks:
  - id: typos
    args: [-c, .typo.toml]


#===========================================================================
#                            CMAKE LINT HOOK
#===========================================================================
- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format
  - id: cmake-lint

#===========================================================================
#                            CLANG FORMAT HOOK
#===========================================================================
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v21.1.8
  hooks:
  - id: clang-format
    files: ^(include|python/include|python/src)/.*\.(c|cc|cpp|cxx|h|hpp|hxx|ipp)$

#===========================================================================
#                            CPPLINT HOOK
#===========================================================================
- repo: https://github.com/cpplint/cpplint
  rev: 2.0.0
  hooks:
  - id: cpplint
    files: ^(include|python/include|python/src)/.*\.(c|cc|cpp|cxx|h|hpp|hxx|ipp)$
    args:
    - --linelength=100

    - >-
      --filter=
      -build/c++11,
      -build/include_order,
      -whitespace/parens,
      -runtime/references,
      -legal/copyright,
      -whitespace/indent_namespace,
      -build/include_subdir,
      -build/include_what_you_use

    - --recursive
