---
name: Build

on  :
  workflow_dispatch:


jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        # os: [ubuntu-latest, ubuntu-24.04-arm, windows-latest, windows-11-arm, macos-13, macos-latest]
        os: [ubuntu-latest]

    steps:
    - uses: actions/checkout@v4
    - name: Set up QEMU
      if: runner.os == 'Linux'
      uses: docker/setup-qemu-action@v3
      with:
        platforms: all

    - name: Restore Caches
      uses: ./.github/actions/cache-restore

    - name: Install uv
      if: runner.os == 'macOS'
      uses: astral-sh/setup-uv@v5

    - name: Install cibuildwheel
      uses: pypa/cibuildwheel@v3.0.0
      env:
        CIBW_ARCHS_LINUX: aarch64, x86_64
        # CIBW_ARCHS_MACOS: x86_64, arm64

    - name: Upload wheels
      uses: actions/upload-artifact@v4
      with:
        name: cibw-wheels-${{ matrix.os }}-${{ strategy.job-index }}
        path: ./wheelhouse/*.whl
